.page-content .card-container {
    padding: 8px;
}

.loading-container {
    padding: 16px 0 32px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

mat-progress-spinner {
    align-items: center;
}

mat-paginator {
    margin: 16px 0;
}