mat-drawer-container {
    height: calc(100% - 64px);
}

.sidenav-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

mat-icon {
    vertical-align: bottom;
}

.link-active {
    font-weight: bolder;
}